.movie-option {
  width: 80%;
  margin:  0 auto;
}

.movie-option-details {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  width: 70%;
  margin: 0 auto;
}

.movie-option-details img {
  vertical-align: middle;
}

.movie-option-name {
    font-size: 1rem;
    color: white;
    font-weight: 600;
    text-decoration: none;
}