.booking-page-container {
  margin-top: 8rem;
}

.booking-information-page {
  display: flex;
  align-items: start; 
  justify-content: center; 
  gap: 20px; 
  margin-top: 80px;
}

.booking-information-page-details {
    translate: 0 -4vh; 
    width: 35%; 
}

.booking-information-page-title {
    font-size: 2rem;
    color: white;
    text-align: start;
    width: 100%;
    font-size: 3rem;
    margin-bottom: 0;
}

.booking-information-page-classification {
    display: flex;
    align-content: start;
    align-items: center; 
    justify-content: start; 
    gap: 20px; 
}

.booking-page-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.booking-page-container p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.booking-section-navigation {
  display: flex;
  justify-content: center;     
  gap: 3rem;                  
  margin: 1rem 0;
  flex-wrap: wrap;             
}

.booking-section-navigation h2 {
  margin: 0;
  font-size: 1.25rem;
  cursor: default;
  transition: color 0.3s ease;
}

.booking-section-navigation-buttons {
  display: flex;
  justify-content: center;   
  gap: 3rem;                  
  margin: 2rem 0;
  flex-wrap: wrap;             
}

.booking-section-navigation-back {
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 0.8rem;
  background-color: transparent;
  padding: 0.8rem 2rem;
  font-weight: 700;
}

.booking-section-navigation-next {
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 0.8rem;
  color: black;
  background-color: #ffd700;
  padding: 0.8rem 2rem;
  outline: none;  
  border: none;  
  font-weight: 700;
}

.active-step {
  color: #ffd700;
  border-bottom: 3px solid #ffd700;
  padding-bottom: 0.3rem;
}

.booking-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
