/* Define the navbar container */
.navbarcenter-mobile-menu {
    background-color: #07001E;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    justify-content: center; /* Center the inner container */
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 80px; /* Adjust spacing between items here */
}

/* Center navbar items */
.navbarcenter-items {
    display: flex;
    list-style: none;
    justify-content: center; /* Center the items horizontally */
    margin: 5px 25px;
    font-size: 22px;
    font-family: "AvenirRegular";
    gap: 30vw;
}


.navbar-home-icon {
    height: 5vh;
}

.navbar-links {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.navbar-links:hover {
    color: #FFDF3E; 
}

a {
    text-decoration: none;
}