.carousel-wrapper {
  display: flex;
  overflow: hidden;
  margin-top: 10rem;
}

.carousel {
  position: relative;
  width: 1000px;
  margin: -10vh auto;
  overflow: visible;
  justify-content: center;
  text-align: center;
  height: 50%;

}

.carousel-track-container {
  overflow: visible;
  padding: 0 10%;
  box-sizing: border-box;
}

.carousel-track {
  display: flex;
  transition: transform 0.7s ease-in-out;
  gap: 2vw;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0 15px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
}

.carousel-button.left {
  left: -60px;
  background-color: rgb(32, 43, 74);
}

.carousel-button.right {
  right: -60px;
  background-color: rgb(32, 43, 74);
}

.carousel-button:hover {
  background-color: rgba(32, 43, 74, 0.7);
}

@media (max-width: 768px) {
  .carousel {
    width: 100%;
    margin: 2rem auto;
    height: auto;
  }

  .carousel-track-container {
    padding: 0 5%;
  }

  .carousel-track {
    gap: 4vw;
  }

  .carousel-button {
    font-size: 1.5rem;
    padding: 0 10px;
  }
}