.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 10rem;
}

.carousel {
  position: relative;
  width: 800px;
  margin: -10vh auto;
  overflow: visible;
  justify-content: center;
  text-align: center;
  height: 50%;
}

.carousel-track-container {
  overflow: visible;
  padding: 0 10%;
  box-sizing: border-box;
}

.carousel-track {
  display: flex;
  transition: transform 0.7s ease-in-out;
  gap: 2vw;
}

.carousel-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  margin: 100px auto;
  object-fit: cover;
  border-radius: 10px;
  height: 550px;
  width: 60%;
}

.carousel-cover-left {
  z-index: 1;
  width: 37%;
  top: 0;
  position: absolute;
  left: 0;
  height: 70%;
  background-color: rgba(11, 21, 33, 0.7);
  pointer-events: none; /* allow clicks to pass through */
}

.carousel-cover-right {
  z-index: 1;
  width: 37%;
  top: 0;
  position: absolute;
  right: 0;
  height: 70%;
  background-color: rgba(11, 21, 33, 0.7);
  pointer-events: none; /* allow clicks to pass through */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0 15px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
}

.carousel-button.left {
  left: 0;
}

.carousel-button.right {
  right: 0;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .carousel {
    width: 100%;
    margin: 2rem auto;
    height: auto;
  }

  .carousel-track-container {
    padding: 0 5%;
  }

  .carousel-track {
    gap: 4vw;
  }

  .carousel-image {
    width: 250px;
    height: 355px;
    margin: 2rem auto;
  }

  .carousel-button {
    font-size: 1.5rem;
    padding: 0 10px;
  }
}

