.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 12rem;
}

.carousel {
  position: relative;
  width: 800px;
  margin: 40px auto;
  overflow: visible;
  justify-content: center;
  text-align: center;
}

.carousel-track-container {
  overflow: visible;
  width: 50vw;
  padding: 0 10%;
  box-sizing: border-box;
}

.carousel-track {
  display: flex;
  transition: transform 0.7s ease-in-out;
  width: 50vw;
  gap: 5vw;
  background-color: aqua;
}

.carousel-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  margin: 100px auto;
  object-fit: cover;
  border-radius: 10px;
  height: 55vh;
  width: 20vw;
}

.carousel-cover-left {
  z-index: 1;
  width: 35vw;
  height: 80vh;
  top: 23vh;
  position: absolute;
  left: 0;
  height: 60vh;
  background-color: rgba(240, 248, 255, 0.7); /* semi-transparent */
  pointer-events: none; /* allow clicks to pass through */
}

.carousel-cover-right {
  z-index: 1;
  width: 35vw;
  height: 80vh;
  top: 250px;
  position: absolute;
  right: 0;
  height: 60vh;
  background-color: rgba(240, 248, 255, 0.7); /* semi-transparent */
  pointer-events: none; /* allow clicks to pass through */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0 15px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
}

.carousel-button.left {
  left: 0;
}

.carousel-button.right {
  right: 0;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


